<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">The Community</h1>
      <p class="text-center">Welcome to the OpenSauce community. Users must have a profile in order to be visible to the community</p>
      <div align="center">
        <%= will_paginate %>
      </div>
      <ul class="list-unstyled">
        <% @users.each do |user| %>
          <% if user.profile %>
            <li>
              <div class="well row <%= cycle('white-bg', '') %>">
                <div class="col-sm-4 text-center">
                  <% if user.profile.avatar %>
                    <%= link_to user do %>
                      <%= image_tag user.profile.avatar, class: 'user-index-avatar' %>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <%= link_to user do %>
                    <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                  <% end %>
                </div>
                <small><%= pluralize(user.projects.count, "project") if user.projects %></small> </br>
                <% if user_signed_in? and current_user.admin? %>
                </br>
                <%= link_to "Delete this user", user_path(user), method: :delete, 
                                                    data: {confirm: "Are you sure you want to delete the user and all their projects" }, class: "btn btn-default btn-danger" %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div align="center">
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>