<div class="container">
  <div class="well user-profile-block">
    <div class="row">
      <div class="col-md-3 text-center">
        <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
        </br>
        </br>
        <% if (@user == current_user || current_user.admin?) %>
          <%= link_to "Edit Profile", edit_user_profile_path(user_id: @user.id) %>
          </br>
          <%= link_to "Security Settings", edit_user_registration_path %>
          <% if current_user.admin? and !@user.admin? %>
            </br>
            <span class="approve-admin">
              <%= link_to "Upgade to Admin", approve_user_path(@user), method: :put, remote: true %>
            </span>
          <% else %>
            </br>
            <span class="approve-admin">
              <%= link_to "Remove Admin", remove_user_path(@user), method: :put, remote: true %>
            </span>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
        <%#= skills will be listed here %>
        <div class="well profile-block profile-description">
          <h3>Description</h3>
          <%= @user.profile.description %>
        </div>
        <div class="well profile-block profile-description">
          <h3>Projects</h3>
          <% if @user.projects.count > 0 %>
            <div align="center">
              <%= will_paginate @user_projects %>
            </div>
            <% @user_projects.each do |project| %>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="well">
                    <div class="project-title">
                      <%= link_to project.title, project_path(project) %>
                    </div>
                    <div class="project-meta-details">
                      <%= truncate(project.plan, length: 100) %>
                    </div>
                    <div class="project-meta-details">
                      <small>Created by: <%= project.user.profile.first_name if project.user%>,
                      <%= time_ago_in_words(project.created_at) %> ago,
                      last updated: <%= time_ago_in_words(project.updated_at) %> ago</small>
                    </div>
                    <% if user_signed_in? && (current_user == project.user || current_user.admin?) %>
                      <div class="project-actions">
                        <%= link_to 'Edit this project', edit_project_path(project), class: 'btn btn-xs btn-primary' %>
                        <%= link_to 'Delete this project', project_path(project), method: :delete, 
                                                data: {confirm: "Are you sure you want to delete the project?"}, 
                                                class: 'btn btn-xs btn-danger' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <div align="center">
              <%= will_paginate @user_projects %>
            </div>
          <% else %>
            <p class="text-center">This user has no projects.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
