<% obj.each do |project| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well <%= cycle('white-bg', '') %>">
        <div class="project-title">
          <%= link_to project.title, project_path(project) %>
        </div>
        <div class="project-body">
          <%= truncate(project.plan, length: 100) %>
        </div>
        <div class="project-meta-details">
          <% if project.user %>
            <small>Created by: <%= link_to project.user.profile.first_name, user_path(project.user) %>,
          <% end %>
          <%= time_ago_in_words(project.created_at) %> ago,
          last updated: <%= time_ago_in_words(project.updated_at) %> ago</small>
        </div>
        <% if project.categories.any? %>
          <p>Categories: <%= render project.categories %></p>
        <% end %>
        <% if user_signed_in? && (current_user == project.user || current_user.admin?) %>
          <div class="project-actions">
            <%= link_to 'Edit this project', edit_project_path(project), class: 'btn btn-xs btn-primary' %>
            <%= link_to 'Delete this project', project_path(project), method: :delete, 
                                    data: {confirm: "Are you sure you want to delete the project?"}, 
                                    class: 'btn btn-xs btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>